body
{
    background-image: none;
}
.silder
{
    overflow: hidden;
}
.silder figure
{
  position: relative;
  width: 200%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.silder img{
    width: 20%;
    float: left;
}